.root{
    -default-color: rgb(233,236,239);
    -default-color-disabled: rgba(233,236,239, 0.5);
    -present-color: rgb(252,196,25);
    -present-color-disabled: rgba(252,196,25,0.5);
    -correct-color: rgb(140,233,154);
    -correct-color-disabled: rgb(140,233,154,0.5);
    -wrong-color: rgb(173,181,189);
    -wrong-color-disabled: rgb(173,181,189,0.5);
    -text-fill-color: rgb(33,37,41);
    -text-fill-color-disabled: rgb(33,37,41,0.5);
    -empty-border-color: rgb(33,37,41);
    -empty-border-color-disabled: rgb(33,37,41,0.5);
    -unlocked-border-color: rgb(33,37,41);
    -key-background-color: rgb(222,226,230);

}


/*  ------------------------------------------- WHEN THE GAME IS ON ------------------------------------------------- */


.block-default,
.block-correct,
.block-present,
.block-wrong,
.block-default-disabled,
.block-correct-disabled,
.block-present-disabled,
.block-wrong-disabled{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-min-width: 65px;
    -fx-min-height: 65px;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -default-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
}

.block-correct{
    -fx-background-color: -correct-color;
}

.block-present{
    -fx-background-color: -present-color;
}

.block-wrong{
    -fx-background-color: -wrong-color;
}

.key-button-default,
.key-button-correct,
.key-button-present,
.key-button-wrong,
.key-button-default-disabled,
.key-button-correct-disabled,
.key-button-present-disabled,
.key-button-wrong-disabled{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-min-width: 65px;
    -fx-min-height: 65px;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -default-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
}

.key-button-correct{
    -fx-background-color: -correct-color;
}

.key-button-present{
    -fx-background-color: -present-color;
}

.key-button-wrong{
    -fx-background-color: -wrong-color;
}


/*  ------------------------------------------- WHEN THE GAME IS OFF, DISABLING ELEMENTS ------------------------------------------------- */

.border-pane-disabled{
    -fx-background-color: rgba(0, 0, 0, 0.5);

}

.block-default-disabled,
.block-correct-disabled,
.block-present-disabled,
.block-wrong-disabled,
.key-button-default-disabled,
.key-button-correct-disabled,
.key-button-present-disabled,
.key-button-wrong-disabled{
    -fx-border-color: -empty-border-color-disabled;
    -fx-text-fill: -text-fill-color-disabled;
}


.block-default-disabled{
    -fx-background-color: -default-color-disabled;

}

.block-correct-disabled{
    -fx-background-color: -correct-color-disabled;
}

.block-present-disabled{
    -fx-background-color: -present-color-disabled;
}

.block-wrong-disabled{
    -fx-background-color: -wrong-color-disabled;
}

.key-button-default-disabled{
    -fx-background-color: -default-color-disabled;
}

.key-button-correct-disabled{
    -fx-background-color: -correct-color-disabled;
}

.key-button-present-disabled{
    -fx-background-color: -present-color-disabled;
}

.key-button-wrong-disabled{
    -fx-background-color: -wrong-color-disabled;
}