.root{
    -present-color: #fcc419;
    -correct-color: #40c057;
    -wrong-color: #495057;
    -text-fill-color: #212529;
    -empty-border-color: #212529;
    -unlocked-border-color: #212529;
    -background-color: #e9ecef;
    -key-background-color: #dee2e6;

}

.block-default{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-min-width: 65px;
    -fx-min-height: 65px;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -background-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
}

.key-button-default{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-min-width: 65px;
    -fx-min-height: 65px;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -background-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
}